/*
base.css
Base styles
- resets, base variables used in all themes
- layout helpers, alignment
*/


/*
RESET
===================
*/
*, *:before, *:after {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
}

* {
  font-weight: normal;
  line-height: 19px;
  font-size: 17px;
  color: var(--color-epsilon);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/*
VARIABLES
===================
*/
:root {
  /* base colors */
  --color-alpha: #333333;
  --color-beta: #ffffff;
  --color-gamma: #4d4d4d;
  --color-delta: #5f5f5f;
  --color-epsilon: #858585;
  --color-zeta: #a6a6a6;
  --color-eta: #c7c7c7;
  --color-theta: #e7e7e7;
  --color-iota: #f4f4f4;
  --button-transition: all 0s;
  --button-transition-delay: 300ms;
}

/*
LAYOUT
=================
*/
/* grid */
.grid {
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 15px;
}

/* row */
.row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  padding: 10px 15px;
}

.row:after {
  position: absolute;
  content: "";
  right: 15px;
  top: 0;
  bottom: 0;
  left: 15px;
  border-top: 1px solid var(--color-theta);
  pointer-events: none;
}

.row:first-of-type:after {
  display: none;
}

.theme-media .row:after {
  border-top-color: var(--color-gamma);
}

.row.left { justify-content: flex-start; }
.row.center { justify-content: center; }
.row.right { justify-content: flex-end; }
.row.top { align-items: flex-start; }
.row.middle { align-items: center; }
.row.bottom { align-items: flex-end; }

.row .top { align-self: flex-start; }
.row .middle { align-self: center; }
.row .bottom { align-self: flex-end; }

/* column */
.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 15px;
}

.column.left { align-items: flex-start; }
.column.center { align-items: center; }
.column.right { align-items: flex-end; }
.column.top { justify-content: flex-start; }
.column.middle { justify-content: center; }
.column.bottom { justify-content: flex-end; }

.column .left { align-self: flex-start; }
.column .center { align-self: center; }
.column .right { align-self: flex-end; }

.fit { flex: 1; }

/* column + row */
.column .row {
  margin: 0 -15px;
}

.column .row:first-of-type {
  margin-top: -10px;
}

.column .row:last-of-type {
  margin-bottom: -10px;
}

.row .column {
  padding: 0;
}

/* gaia-buttons */
.column gaia-button {
  flex: 1;
  margin: 0 0 10px 0 !important;
}

.column gaia-button:first-child {
  margin-top: 10px !important;
}

.row gaia-button {
  flex: 1;
  margin: 0 0 0 10px !important;
}

.row gaia-button:first-child {
  margin: 0 !important;
}

/* gaia-label */
.row label {
  flex: 1;
  padding-left: 15px;
}

/* need to update components with that values (removing !important)*/
gaia-switch {
  width: 54px;
  top: 0 !important;
}

gaia-checkbox {
  top: 0 !important;
}
