
/*  fonts */
@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Light.woff") format("woff");
    font-weight: 300; /* lighter */
}
@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-LightItalic.woff") format("woff");
    font-style: italic;
    font-weight: 300; /* lighter */
}
@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Regular.woff") format("woff");
    font-style: normal; 
    font-weight: normal; /* 400 */
}
@font-face {
    font-family: "FiraSans Regular Italic";
    src: url("fonts/FiraSans-RegularItalic.woff") format("woff");
    font-weight: normal; /* 400 */
}
@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Medium.woff") format("woff");
    font-weight: bold; /* 700 */
}
@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-MediumItalic.woff") format("woff");
    font-style: italic;
    font-weight: bold; /* 700 */
}
@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-Bold.woff") format("woff");
    font-weight: 800; /* bolder */
}
@font-face {
    font-family: "FiraSans";
    src: url("fonts/FiraSans-BoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: 800; /* bolder */
}


/* 
TYPE
===================
*/

/* base font */
* { 
    font-family: "FiraSans"; 
    font-weight: normal;
    line-height: 19px;
    font-size: 17px;
    color: var(--color-epsilon);
}


h1,.alpha   { 
    font-size: 23px;
    line-height: 26px;
    color: var(--color-root-gamma);
    margin: 6px 0 24px 0;
}

:root {
	--color-brand-darkblue: #00539f;
    --color-brand-blue: #00caf2;
    --color-brand-turquoise: #27c8c2;
    --color-brand-darkorange: #e66000;
    --color-brand-orange: #ff9500;
    --color-brand-yellow: #ffcb00;
    --color-brand-violet: #c40c84;

    --color-brand-alpha: #00aac5;
    --color-brand-beta: #00caf2;
    --color-brand-gamma: #b2f2ff;

	--header-background: #fff;
	--header-nav-button-color: 	var(--color-alpha);
	--header-nav-button-color-active: var(--color-alpha);
	--header-button-background: rgba(0,0,0,0.1);
	--header-button-color-active: var(--color-alpha);
	--header-button-color: var(--color-alpha);
	--header-title-color: var(--color-alpha);

	--button-background: var(--color-beta);
	--button-background-active: var(--color-brand-blue);
	--button-color: var(--color-alpha);
	--button-color-active: var(--color-beta);
	--button-transition: all 0.2s;
	--button-boxshadow: inset 0 -1px 0 #d8d8d8, inset 0 1px 0 #eeeeee;
}


/* sub-theme specific variables */
.theme-communications {
	--header-background: var(--color-brand-turquoise);
	--header-nav-button-color: 	var(--color-beta);
	--header-nav-button-color-active: var(--color-beta);
	--header-button-color:rgba(0,0,0,0.4);
	--header-button-color-active: rgba(0,0,0,0.4);
	--header-title-color: var(--color-beta);

	--button-background: var(--color-beta);
	--button-background-active: var(--color-brand-turquoise);
	--button-color: var(--color-alpha);
	--button-color-active: var(--color-beta);
}

.theme-media {
	/* variables */
	--header-background: var(--color-gamma);
	--header-nav-button-color: 	var(--color-beta);
	--header-nav-button-color-active: var(--color-beta);
	--header-button-color: var(--color-brand-alpha);
	--header-button-color-active: var(--color-brand-alpha);
	--header-title-color: var(--color-beta);

	--button-background: var(--color-delta);
	--button-background-active: var(--color-brand-blue);
	--button-color: var(--color-beta);
	--button-color-active: var(--color-beta);
	--button-boxshadow: 'none';
	
	background: var(--color-alpha);
}


/*.theme-media gaia-button {
	border: var(--color-alpha);
	border-bottom: 1px solid #292929;
	color: var(--color-eta);
}
.theme-media gaia-button:active {
	color: var(--color-beta);
}
*/

.theme-productivity {
	--header-background: var(--color-brand-orange);
	--header-nav-button-color: 	var(--color-beta);
	--header-nav-button-color-active: 	var(--color-beta);
	--header-button-color: var(--color-beta);
	--header-button-color-active: var(--color-beta);
	--header-title-color: var(--color-beta);

	--button-background: var(--color-beta);
	--button-background-active: var(--color-brand-orange);
	--button-color: var(--color-alpha);
	--button-color-active: var(--color-beta);	
}

/*.theme-comms gaia-header button,
.theme-comms gaia-header a {
	border: 1px solid red;
}*/

